.containerForm {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContent {
    width: 100%;
}

.formLogin {
    width: 460px;
    padding: 20px;
    background-color: #bf998d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.formGroup {
    margin: 6px 0;
}

.formGroupError {
    display: flex;
}

.formGroupError label {
    flex: 1;
    padding: 3px 5px;
}

.formGroupError span {
    flex: 4;
}

.error {
    font-size: 12px;
    color: #912f48;
}

.formGroupInput {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.formGroupInput label {
    flex: 1;
    border-right: none;
    line-height: 36px;
    padding: 3px 5px;
    font-size: 15px;
    color: #fff;
    background-color: #b4123b;
}

.formGroupInput input {
    flex: 4;
    line-height: 36px;
    outline: none;
    padding: 3px 5px;
    font-size: 16px;
    border-left: none;
}

.btn__login {
    width: 100%;
    padding: 10px;
    background-color: #b4123b;
    color: #fff;
    font-size: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.btn__login:hover {
    background-color: #981a39;
    cursor: pointer;
    color: #f9d1d1;
}

img {
    margin-bottom: 8px;
}