.btnLogout, 
.btnAdd {
    width: 110px;
    position: fixed;
    z-index: 1;
    right: 16px;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}

.btnLogout {
    bottom: 20px;
    background-color: red;
}

.btnAdd {
    background-color: #c49a9f;
    bottom: 70px;
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}