.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cardImg img {
    width: 200px !important;
    margin: 0;
}

.cardBody {
    display: flex;
}

.cardContent {
    margin: 0 10px;
    margin-right: 20px;
    flex: 4;
}

.actions {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 34px;
}

@media screen and (max-width: 480px){
    .card {
        flex-direction: column;
    }

    .cardBody {
        flex-direction: column;
    }

    .cardContent {
        margin: 0;
        text-align: justify;
        margin-top: 6px;
    }

    .cardImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}