.loading {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading img {
    width: 6rem;
}