.containSwitch {
    right: 16px;
    overflow: hidden;
    font-weight: 600;
    padding: 10px 0;
    font-size: 26px;
    color: #fff;
    display: flex;
}

.containSwitch button {
    padding: 2px 10px;
}

.active {
    color: blue;
}