.upload__image_wrapper {
    margin: 10px 0;
    margin-top: 6px !important;
}

.image_item {
    display: flex;
    margin: 10px 0;
}

.image_item__btn_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.btn__upload {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    color: #b4123b;
    transition: all 0.1s ease;
}

.btn__upload:hover,
.btn__action:hover {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    scale: 1.02;
}

.btn__action {
    height: 40px;
    margin: 6px 0;
    border-radius: 10px;
    transition: all 0.1s ease;
    font-weight: 600;
    color: #b4123b;
    font-size: 13px;
}